fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
pyjwt
bcrypt
redis
langchain<0.3.0
langchain-community<0.3.0
langchain-core<0.3.0
langchain-google-genai
mcp
nest_asyncio
sse-starlette
greenlet
aiosqlite
asyncpg
pinecone
langchain_pinecone
email-validator
langchain-aws<0.2.0
boto3
langchain-openai
langgraph